<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bro.smart_home_hda">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Haus"
        android:allowBackup="true"
        android:icon="@drawable/smart_home_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".VerbraucherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".RaumeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".Raume_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RaumeActivity" />
        </activity>

        <activity android:name=".add_verbraucher">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RaumeActivity" />
        </activity>
    </application>

</manifest>